*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(225, 233, 236);
  font-size: 1.5rem;
  width: 100%;

  height: 50vh;
  position: relative;
}
.set_budget {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
.set_btn {
  position: relative;
  top: 2rem;
  padding-left: 1rem;
}
.set_value {
  height: 30px;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 200px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.btn {
  display: inline-block;
  background-color: green;
  border: 1px solid rgb(53, 43, 63);
  padding: 5px;
  border-radius: 1rem;
  width: 50px;
  cursor: pointer;
}

.budget {
  display: flex;
  justify-content: space-evenly;
}
.budget_head {
  font-weight: 600;
}
.logo {
  border: 1px solid goldenrod;
  border-radius: 2rem;
  width: 120px;
  background-color: white;
}
img {
  width: 80px;
}
.budget_title,
.income_title,
.expense_title,
.logo {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.income_value,
.expense_value,
.budget_value {
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 700;
}

.bottom {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px auto;
  background-color: rgb(199, 192, 190);
}
.exp_inc_form {
  text-align: center;
  width: 700px auto;
  padding-top: 1rem;
  margin: 20px auto;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 600px auto;
  margin: 20px auto;
  border: 1px solid chocolate;
  padding: 20px;
  font-size: 1.5rem;
  background-color: darkgrey;
  border-style: hidden;
  border-radius: 1rem;
}
.select_type {
  padding: 2rem;
}
.type {
  width: 80px;
  height: 25px;
  border-radius: 0.5rem;
}

.input_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item_input {
  margin-bottom: 1rem;
  height: 35px;
  display: inline-block;
  letter-spacing: 1px;
  padding: 1rem;
  border-radius: 0.5rem;

  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 500;
}
.item_value {
  height: 35px;
  display: inline-block;
  width: 200px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 250px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.enter {
  display: inline-block;
  background-color: green;
  border: 1px solid rgb(53, 43, 63);
  padding: 5px;
  border-radius: 1rem;
  width: 50px;
  cursor: pointer;
}
.exp_inc_list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.income_panel,
.expense_panel {
  text-align: center;
  font-size: 18px;
  width: 500px;
  border-style: none;
  margin: 10px auto;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 16px;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  background-color: whitesmoke;
  margin: 1rem;
  border-style: none;
  border-radius: 4%;

  font-weight: 500;
}
.btn_del {
  background-color: whitesmoke;
  color: rgb(243, 111, 111);
  width: 20px;
  font-size: 13px;
  display: inline-block;
  display: none;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  transform: translateX(15px);
}
.item:hover {
  transform: translateX(-20px);
}

.set_btn:hover {
  transform: translateY(2px);
  color: transparent;
}
.item:hover .btn_del {
  display: block;
  background-color: rgb(228, 143, 143);
  color: black;
}
.enter:hover {
  transform: translateY(3px);
}
